# 1) dir()

해당 객체에 어떤 메서드를 사용할 수 있는지 알려준다.

In [3]:
import pandas as pd
from scipy import stats
insurance = pd.read_csv("C:/Users/jiho0/Desktop/Data_Analysis/(p-sat)package/2018_2/week1/insurance.csv")
dir(stats.boxcox)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

# 2) help

해당 메서드를 어떻게 사용하는지 알려준다

In [4]:
help(stats.boxcox)

Help on function boxcox in module scipy.stats.morestats:

boxcox(x, lmbda=None, alpha=None)
    Return a dataset transformed by a Box-Cox power transformation.

    Parameters
    ----------
    x : ndarray
        Input array.  Must be positive 1-dimensional.  Must not be constant.
    lmbda : {None, scalar}, optional
        If `lmbda` is not None, do the transformation for that value.

        If `lmbda` is None, find the lambda that maximizes the log-likelihood
        function and return it as the second output argument.
    alpha : {None, float}, optional
        If ``alpha`` is not None, return the ``100 * (1-alpha)%`` confidence
        interval for `lmbda` as the third output argument.
        Must be between 0.0 and 1.0.

    Returns
    -------
    boxcox : ndarray
        Box-Cox power transformed array.
    maxlog : float, optional
        If the `lmbda` parameter is None, the second returned argument is
        the lambda that maximizes the log-likelihood function.
    (min_ci, max_ci) : tuple of float, optional
        If `lmbda` parameter is None and ``alpha`` is not None, this returned
        tuple of floats represents the minimum and maximum confidence limits
        given ``alpha``.

    See Also
    --------
    probplot, boxcox_normplot, boxcox_normmax, boxcox_llf

    Notes
    -----
    The Box-Cox transform is given by::

        y = (x**lmbda - 1) / lmbda,  for lmbda > 0
            log(x),                  for lmbda = 0

    `boxcox` requires the input data to be positive.  Sometimes a Box-Cox
    transformation provides a shift parameter to achieve this; `boxcox` does
    not.  Such a shift parameter is equivalent to adding a positive constant to
    `x` before calling `boxcox`.

    The confidence limits returned when ``alpha`` is provided give the interval
    where:

    .. math::

        llf(\hat{\lambda}) - llf(\lambda) < \frac{1}{2}\chi^2(1 - \alpha, 1),

    with ``llf`` the log-likelihood function and :math:`\chi^2` the chi-squared
    function.

    References
    ----------
    G.E.P. Box and D.R. Cox, "An Analysis of Transformations", Journal of the
    Royal Statistical Society B, 26, 211-252 (1964).

    Examples
    --------
    >>> from scipy import stats
    >>> import matplotlib.pyplot as plt

    We generate some random variates from a non-normal distribution and make a
    probability plot for it, to show it is non-normal in the tails:

    >>> fig = plt.figure()
    >>> ax1 = fig.add_subplot(211)
    >>> x = stats.loggamma.rvs(5, size=500) + 5
    >>> prob = stats.probplot(x, dist=stats.norm, plot=ax1)
    >>> ax1.set_xlabel('')
    >>> ax1.set_title('Probplot against normal distribution')

    We now use `boxcox` to transform the data so it's closest to normal:

    >>> ax2 = fig.add_subplot(212)
    >>> xt, _ = stats.boxcox(x)
    >>> prob = stats.probplot(xt, dist=stats.norm, plot=ax2)
    >>> ax2.set_title('Probplot after Box-Cox transformation')

    >>> plt.show()

# 3) magic 명령어

주피터 및 ipython에는 다양한 magic 명령어들이 있다. 실제로 이들은 magic이다.

## 3-1) %pwd

In [4]:
%pwd

'c:\\python\\0600.utilities'

## 3-2) %ls

In [5]:
%ls

 C 드라이브의 볼륨: OS
 볼륨 일련 번호: CE0D-7237

 c:\python\0600.utilities 디렉터리

2021-11-09  오후 07:10    <DIR>          .
2021-11-09  오후 07:10    <DIR>          ..
2021-11-09  오후 07:08    <DIR>          .ipynb_checkpoints
2021-11-09  오후 07:10            22,240 0000.basic_python.ipynb
2021-10-20  오전 12:35            77,391 0100.data_handling.ipynb
2021-04-02  오전 10:30            18,207 crawling_for_frietag.ipynb
2021-03-29  오후 03:15             6,224 numpy_reshape.ipynb
2021-03-26  오후 03:33             9,374 pipeline.ipynb
2021-03-29  오후 02:14             8,238 regularization.ipynb
               6개 파일             141,674 바이트
               3개 디렉터리  122,776,829,952 바이트 남음

## 3-3) %cd

Changing Directory의 준말로, 경로를 바꿔주는 좋은 함수다.

In [9]:
""
%cd c:/python/0600.utilities

c:\python\0600.utilities

In [10]:
%pwd

'c:\\python\\0600.utilities'

# 4) Pandas의 str

https://yganalyst.github.io/data_handling/memo_9/

pandas에서 문자열을 다루려면 .str을 써주면 편리하게 되는 것 같다.(사실 이 방법 말고는 없는듯)

근데 substr이나 grep 등을 안 써도 돼서 상당히 편리하다. str하고 인덱싱을 하면 되니까

In [10]:
import pandas as pd
df = pd.DataFrame({'info': ['Alice-female','Bob-male','Charlie-male','Dave-male','Ellen-female','Frank-male'],
                   'age': [24,42,18,68,24,30],
                   'state': ['NY','CA','CA','TX','CA','NY'],
                   'point': [64,24,70,70,88,57]}
                  )

## 4-1) 기본적으로 데이터 스플릿

In [11]:
df['info'].str.split('-')

0    [Alice, female]
1        [Bob, male]
2    [Charlie, male]
3       [Dave, male]
4    [Ellen, female]
5      [Frank, male]
Name: info, dtype: object

- 만약 데이터를 나눠서 칼럼으로 저장하고 싶다면 아래와 같이 하면 된다.

In [12]:
temp = df['info'].str.split('-')

df['name'] = temp.str[0]
df['sex'] = temp.str[1]
df

           info  age state  point     name     sex
0  Alice-female   24    NY     64    Alice  female
1      Bob-male   42    CA     24      Bob    male
2  Charlie-male   18    CA     70  Charlie    male
3     Dave-male   68    TX     70     Dave    male
4  Ellen-female   24    CA     88    Ellen  female
5    Frank-male   30    NY     57    Frank    male

In [13]:
"""
분할된 리스트를 바로 데이터 프레임으로 만들려면 expand = True 해주면 된다고 한다.
"""
df['info'].str.split('-', expand = True)

         0       1
0    Alice  female
1      Bob    male
2  Charlie    male
3     Dave    male
4    Ellen  female
5    Frank    male

## 4-2) 문자열 일부만 추출

In [4]:
df['name'].str[:4]

0    Alic
1     Bob
2    Char
3    Dave
4    Elle
5    Fran
Name: name, dtype: object

## 4-3) 글자 인식

### 4-3-1) 시작글자 인식

In [14]:
df['name'].str.startswith('C')

0    False
1    False
2     True
3    False
4    False
5    False
Name: name, dtype: bool

In [18]:
df[df['name'].str.startswith('C')]

           info  age state  point     name   sex
2  Charlie-male   18    CA     70  Charlie  male

### 4-3-2) 끝글자 인식

In [19]:
df[df['name'].str.endswith('n')]

           info  age state  point   name     sex
4  Ellen-female   24    CA     88  Ellen  female

### 4-3-3) 포함글자 인식

In [20]:
df[df['name'].str.contains('av')]

        info  age state  point  name   sex
3  Dave-male   68    TX     70  Dave  male

## 4-4) 문자 대체

In [24]:
"""
oldvalue, newvalue 순으로 넣어주면 된다.
"""
df['info'].str.replace("-", "_")

0    Alice_female
1        Bob_male
2    Charlie_male
3       Dave_male
4    Ellen_female
5      Frank_male
Name: info, dtype: object

In [13]:
str_test = "39|11|00"
str_test.replace( '|', '.',1)

'39.11|00'

> 아주 좋은게 몇번 교체할 지 지정할 수 있다.

## 4-5) 문자열 패딩

In [25]:
df['name'].str.pad(width = 10, side = 'left', fillchar = "_")

0    _____Alice
1    _______Bob
2    ___Charlie
3    ______Dave
4    _____Ellen
5    _____Frank
Name: name, dtype: object

In [27]:
df['name'].str.center(width = 10, fillchar = "_")

0    __Alice___
1    ___Bob____
2    _Charlie__
3    ___Dave___
4    __Ellen___
5    __Frank___
Name: name, dtype: object

## 4-6) 공백제거

`str.strip()`을 쓰면 된다