In [1]:
print('hello jupyter notebook')

hello jupyter notebook

In [2]:
print('Jupyter Notebook: code line 1')
print('Jupyter Notebook: code line 2')

Jupyter Notebook: code line 1
Jupyter Notebook: code line 2

In [3]:
1+1

2

In [4]:
1.4*2

2.8

In [5]:
type(2)

int

In [6]:
type(2.3)

float

In [7]:
2**5

32

In [8]:
4**7

16384

In [9]:
1.5**2

2.25

In [10]:
2**(1/2)

1.4142135623730951

In [11]:
14%4

2

In [12]:
14//4

3

In [14]:
(14//4)*4 + 14%4

14

In [15]:
3e8

300000000.0

In [16]:
bin(17)

'0b10001'

In [17]:
oct(17)

'0o21'

In [18]:
hex(17)

'0x11'

In [19]:
type(true

SyntaxError: unexpected EOF while parsing (<ipython-input-19-e0c20bd5d08b>, line 1)

In [20]:
type(true
)

NameError: name 'true' is not defined

In [21]:
type(True)

bool

In [22]:
print(True and False)

False

In [23]:
print(True or False)

True

In [24]:
print(not True)

False

In [25]:
5==3

False

In [26]:
print(1>0 and -2<0)

True

In [27]:
print((3>0) and (-5>0) and (1>5))

False

In [28]:
print((3>0) or (-5>0) and (1>5))

True

In [29]:
print((3>0) or (-5>0) and (4>8) or (3<0))

True

In [30]:
abc=12340
print(abc)

12340

In [32]:
print(abc*1/2)
print(abc*1/4)
print(abc*1/5)

6170.0
3085.0
2468.0

In [33]:
print('String Test')

String Test

In [35]:
string3='This is a "double" quotation test'
string4="This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [38]:
long_string1 = '''[삼중 어쩌구]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표와 작은 따옴표도 입력할 수 있죠'''
print(long_string1)

[삼중 어쩌구]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표와 작은 따옴표도 입력할 수 있죠

In [39]:
a = 'Enjoy'
b='python'
c=a+b
print(c)

Enjoypython

In [40]:
print(a*3)

EnjoyEnjoyEnjoy

In [42]:
student1 = [90,95,95,80]
student1

[90, 95, 95, 80]

In [43]:
type(student1)

list

In [44]:
student1[0]

90

In [46]:
student1[1]

95

In [47]:
student1[-1]

80

In [48]:
myFriend = ['James','Robert', 'LIsa', 'Mary']
myFriend

['James', 'Robert', 'LIsa', 'Mary']

In [49]:
myFriend[1]

'Robert'

In [50]:
myFriend[-1]

'Mary'

In [52]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2 # 리스트 연결
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [56]:
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
del list_data[6]

In [58]:
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [59]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
pritn(5 in list_data1)

In [62]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [63]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [65]:
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [66]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [67]:
set1 = {1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [68]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A.intersection(B)

{4, 5}

In [69]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [70]:
A.difference(B)

{1, 2, 3}

In [71]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}

In [72]:
A&B

{4, 5}

In [73]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
A-B

{1, 2, 3}

In [75]:
B-A

{6, 7, 8, 9, 10}

In [77]:
a = [1,2,3,4,5]
type(a)

list

In [80]:
b = tuple(a)
b
type(b)

tuple

In [82]:
c = set(a)
c
type(c)

set

In [83]:
list(b)

[1, 2, 3, 4, 5]

In [84]:
list(c)

[1, 2, 3, 4, 5]

In [85]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른','덴마크':'코펜하겐'}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [87]:
type(country_capital)

dict

In [88]:
country_capital["영국"]

'런던'

In [89]:
dict_data1 = {1:"버스", 3:"비행기", 4:"택시", 5:'자전거' }
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [91]:
dict_data1[3]

'비행기'

In [92]:
dict_data3 = {'list_data1':[11,12,13], 'list_data2':[21,22,23]}
print(dict_data3)
print(dict_data3['list_data2'])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [94]:
mixed_dict = {1:10, 'dict_num':{1:10,2:20}, "dict_list_tuple":{"A":[11,12,13], "B":(21,22,23)}, "dict_string":'이것은 책입니다.'}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

In [95]:
country_capital["독일"] = "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [96]:
country_capital["호주"]='캔버라'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [97]:
del country_capital['덴마크']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [98]:
fruit_code = {'사과':101, '배':102, '딸기':103, '포도':104, '바나나':105}

In [99]:
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105}

In [100]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [101]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [102]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [103]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [104]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [105]:
fruit_code2 = {'오렌지':106, '수박':107}

In [108]:
fruit_code.update(fruit_code2)

In [109]:
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [ ]:
fruit_code2.clear()
print()